@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Sora:wght@500;700&display=swap');

:root {
  --primary-color: #29CF52;
}


::selection {
  background-color: var(--primary-color);
 color: #111111;
}

.sent-message {
  background-color: #DCF8C6;
  /* Other styles for sent messages */
}

.received-message {
  background-color: #FFFFFF;
  /* Other styles for received messages */
}

.chatbox {
  margin-bottom: 18px !important;
  /* overflow: scroll !important; */
}
